In [2]:
# Dependencies and Setup
#import matplotlib.pyplot as plt
import pandas as pd
#import numpy as np
import requests
#import time
#from scipy.stats import linregress

import us

# Import API key
#from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
#from citipy import citipy

# pprint - useful for browsing api results
from pprint import pprint

resource_path = "Resources"
cases_by_state_path = f"{resource_path}/CasesByStateAbbr.csv"
income_pop_path = f"{resource_path}/IncomePopByState.csv"

In [12]:
cases_df = pd.read_csv(cases_by_state_path)
cases_df.head()

,Active,Confirmed,Date,Deaths,Fatality Rate,Recovered,State,State Abbr
0,12,12,2020-03-15,0,0.0000,0,Alabama,AL
1,1,1,2020-03-15,0,0.0000,0,Alaska,AK
2,12,13,2020-03-15,0,0.0000,1,Arizona,AZ
3,16,16,2020-03-15,0,0.0000,0,Arkansas,AR
4,414,426,2020-03-15,6,0.0141,6,California,CA

In [13]:
cases_df.rename(columns={'State' : 'State Name', 'State Abbr' : 'State'}, inplace=True)
cases_df.head()

,Active,Confirmed,Date,Deaths,Fatality Rate,Recovered,State Name,State
0,12,12,2020-03-15,0,0.0000,0,Alabama,AL
1,1,1,2020-03-15,0,0.0000,0,Alaska,AK
2,12,13,2020-03-15,0,0.0000,1,Arizona,AZ
3,16,16,2020-03-15,0,0.0000,0,Arkansas,AR
4,414,426,2020-03-15,6,0.0141,6,California,CA

In [5]:
demo_df = pd.read_csv(income_pop_path)
demo_df.head()

,State,Land Area (mi2),Population,Population Density,Per Capita Income,Median Household Income
0,AK,211300.81,734417.0,3.475694,35617.249121,51875.0
1,AL,49481.34,4846150.0,97.938940,26883.102656,41750.0
2,AR,49590.60,2977621.0,60.044061,25666.556534,40574.0
3,AZ,89709.56,6940873.0,77.370494,29270.505603,49063.0
4,CA,96922.44,39076841.0,403.176406,35049.472573,65231.0

In [10]:
print(demo_df.count())
print(len(demo_df['State'].unique()))

State                      51
Land Area (mi2)            51
Population                 51
Population Density         51
Per Capita Income          51
Median Household Income    51
dtype: int64
51

In [17]:
all_df = pd.merge(cases_df, demo_df, on='State', how='inner', validate='many_to_one')
all_df.head(50)

,Active,Confirmed,Date,Deaths,Fatality Rate,Recovered,State Name,State,Land Area (mi2),Population,Population Density,Per Capita Income,Median Household Income
0,12,12,2020-03-15,0,0.0000,0,Alabama,AL,49481.34,4846150.0,97.938940,26883.102656,41750.0
1,1033,1060,2020-04-01,27,0.0255,0,Alabama,AL,49481.34,4846150.0,97.938940,26883.102656,41750.0
2,3957,4075,2020-04-15,118,0.0290,0,Alabama,AL,49481.34,4846150.0,97.938940,26883.102656,41750.0
3,7005,7294,2020-05-01,289,0.0396,0,Alabama,AL,49481.34,4846150.0,97.938940,26883.102656,41750.0
4,10890,11373,2020-05-15,483,0.0425,0,Alabama,AL,49481.34,4846150.0,97.938940,26883.102656,41750.0
5,17984,18630,2020-06-01,646,0.0347,0,Alabama,AL,49481.34,4846150.0,97.938940,26883.102656,41750.0
6,25498,26272,2020-06-15,774,0.0295,0,Alabama,AL,49481.34,4846150.0,97.938940,26883.102656,41750.0
7,37990,38962,2020-07-01,972,0.0249,0,Alabama,AL,49481.34,4846150.0,97.938940,26883.102656,41750.0
8,57856,59067,2020-07-15,1211,0.0205,0,Alabama,AL,49481.34,4846150.0,97.938940,26883.102656,41750.0
9,1,1,2020-03-15,0,0.0000,0,Alaska,AK,211300.81,734417.0,3.475694,35617.249121,51875.0
10,129,132,2020-04-01,3,0.0227,0,Alaska,AK,211300.81,734417.0,3.475694,35617.249121,51875.0
11,284,293,2020-04-15,9,0.0307,0,Alaska,AK,211300.81,734417.0,3.475694,35617.249121,51875.0
12,355,364,2020-05-01,9,0.0247,0,Alaska,AK,211300.81,734417.0,3.475694,35617.249121,51875.0
13,378,388,2020-05-15,10,0.0258,0,Alaska,AK,211300.81,734417.0,3.475694,35617.249121,51875.0
14,456,466,2020-06-01,10,0.0215,0,Alaska,AK,211300.81,734417.0,3.475694,35617.249121,51875.0
15,651,663,2020-06-15,12,0.0181,0,Alaska,AK,211300.81,734417.0,3.475694,35617.249121,51875.0
16,961,975,2020-07-01,14,0.0144,0,Alaska,AK,211300.81,734417.0,3.475694,35617.249121,51875.0
17,1614,1631,2020-07-15,17,0.0104,0,Alaska,AK,211300.81,734417.0,3.475694,35617.249121,51875.0
18,12,13,2020-03-15,0,0.0000,1,Arizona,AZ,89709.56,6940873.0,77.370494,29270.505603,49063.0
19,1501,1530,2020-04-01,29,0.0190,0,Arizona,AZ,89709.56,6940873.0,77.370494,29270.505603,49063.0
20,3822,3964,2020-04-15,142,0.0358,0,Arizona,AZ,89709.56,6940873.0,77.370494,29270.505603,49063.0
21,7639,7969,2020-05-01,330,0.0414,0,Arizona,AZ,89709.56,6940873.0,77.370494,29270.505603,49063.0
22,12518,13169,2020-05-15,651,0.0494,0,Arizona,AZ,89709.56,6940873.0,77.370494,29270.505603,49063.0
23,19211,20129,2020-06-01,918,0.0456,0,Arizona,AZ,89709.56,6940873.0,77.370494,29270.505603,49063.0
24,35641,36844,2020-06-15,1203,0.0327,0,Arizona,AZ,89709.56,6940873.0,77.370494,29270.505603,49063.0
25,82380,84105,2020-07-01,1725,0.0205,0,Arizona,AZ,89709.56,6940873.0,77.370494,29270.505603,49063.0
26,128920,131354,2020-07-15,2434,0.0185,0,Arizona,AZ,89709.56,6940873.0,77.370494,29270.505603,49063.0
27,16,16,2020-03-15,0,0.0000,0,Arkansas,AR,49590.60,2977621.0,60.044061,25666.556534,40574.0
28,574,584,2020-04-01,10,0.0171,0,Arkansas,AR,49590.60,2977621.0,60.044061,25666.556534,40574.0
29,1536,1569,2020-04-15,33,0.0210,0,Arkansas,AR,49590.60,2977621.0,60.044061,25666.556534,40574.0
30,3273,3337,2020-05-01,64,0.0192,0,Arkansas,AR,49590.60,2977621.0,60.044061,25666.556534,40574.0
31,4365,4463,2020-05-15,98,0.0220,0,Arkansas,AR,49590.60,2977621.0,60.044061,25666.556534,40574.0
32,7310,7443,2020-06-01,133,0.0179,0,Arkansas,AR,49590.60,2977621.0,60.044061,25666.556534,40574.0
33,12735,12917,2020-06-15,182,0.0141,0,Arkansas,AR,49590.60,2977621.0,60.044061,25666.556534,40574.0
34,20920,21197,2020-07-01,277,0.0131,0,Arkansas,AR,49590.60,2977621.0,60.044061,25666.556534,40574.0
35,29962,30297,2020-07-15,335,0.0111,0,Arkansas,AR,49590.60,2977621.0,60.044061,25666.556534,40574.0
36,414,426,2020-03-15,6,0.0141,6,California,CA,96922.44,39076841.0,403.176406,35049.472573,65231.0
37,9200,9399,2020-04-01,199,0.0212,0,California,CA,96922.44,39076841.0,403.176406,35049.472573,65231.0
38,25826,26686,2020-04-15,860,0.0322,0,California,CA,96922.44,39076841.0,403.176406,35049.472573,65231.0
39,49900,52026,2020-05-01,2126,0.0409,0,California,CA,96922.44,39076841.0,403.176406,35049.472573,65231.0
40,73557,76693,2020-05-15,3136,0.0409,0,California,CA,96922.44,39076841.0,403.176406,35049.472573,65231.0
41,110516,114733,2020-06-01,4217,0.0368,0,California,CA,96922.44,39076841.0,403.176406,35049.472573,65231.0
42,150612,155726,2020-06-15,5114,0.0328,0,California,CA,96922.44,39076841.0,403.176406,35049.472573,65231.0
43,232512,238681,2020-07-01,6169,0.0258,0,California,CA,96922.44,39076841.0,403.176406,35049.472573,65231.0
44,347510,354885,2020-07-15,7375,0.0208,0,California,CA,96922.44,39076841.0,403.176406,35049.472573,65231.0
45,130,131,2020-03-15,1,0.0076,0,Colorado,CO,97067.89,5514222.0,56.807890,36469.426840,59610.5
46,2913,2982,2020-04-01,69,0.0231,0,Colorado,CO,97067.89,5514222.0,56.807890,36469.426840,59610.5
47,7628,7956,2020-04-15,328,0.0412,0,Colorado,CO,97067.89,5514222.0,56.807890,36469.426840,59610.5
48,14972,15793,2020-05-01,821,0.0520,0,Colorado,CO,97067.89,5514222.0,56.807890,36469.426840,59610.5
49,20082,21232,2020-05-15,1150,0.0542,0,Colorado,CO,97067.89,5514222.0,56.807890,36469.426840,59610.5

In [16]:
all_df.to_csv("Resources/AllByState.csv", index=False)