In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import us
from pprint import pprint

resource_path = "Resources"
cases_by_state_path = f"{resource_path}/CasesByState-Daily.csv"
income_pop_path = f"{resource_path}/IncomePopByState.csv"

In [2]:
cases_df = pd.read_csv(cases_by_state_path)
cases_df.head()

,Active,Confirmed,Date,Deaths,Fatality Rate,Recovered,State,State Abbr,Active Diff,Confirmed Diff,Deaths Diff,Recovered Diff,Lat,Lon
0,0,0,2020-03-10,0,0.0000,0,Alaska,AK,0,0,0,0,61.3707,-152.4044
1,5,6,2020-03-10,0,0.0000,1,Arizona,AZ,4,5,0,1,33.7298,-111.4312
2,0,0,2020-03-10,0,0.0000,0,Arkansas,AR,0,0,0,0,34.9697,-92.3731
3,140,144,2020-03-10,2,0.0139,2,California,CA,138,142,2,2,36.1162,-119.6816
4,15,15,2020-03-10,0,0.0000,0,Colorado,CO,0,0,0,0,39.0598,-105.3111

In [3]:
cases_df.rename(columns={'State' : 'State Name', 'State Abbr' : 'State'}, inplace=True)
cases_df.head()

,Active,Confirmed,Date,Deaths,Fatality Rate,Recovered,State Name,State,Active Diff,Confirmed Diff,Deaths Diff,Recovered Diff,Lat,Lon
0,0,0,2020-03-10,0,0.0000,0,Alaska,AK,0,0,0,0,61.3707,-152.4044
1,5,6,2020-03-10,0,0.0000,1,Arizona,AZ,4,5,0,1,33.7298,-111.4312
2,0,0,2020-03-10,0,0.0000,0,Arkansas,AR,0,0,0,0,34.9697,-92.3731
3,140,144,2020-03-10,2,0.0139,2,California,CA,138,142,2,2,36.1162,-119.6816
4,15,15,2020-03-10,0,0.0000,0,Colorado,CO,0,0,0,0,39.0598,-105.3111

In [4]:
demo_df = pd.read_csv(income_pop_path)
demo_df.head()

,State,Land Area (mi2),Population,Population Density,Per Capita Income,Median Household Income
0,AK,211300.81,734417.0,3.475694,35617.249121,51875.0
1,AL,49481.34,4846150.0,97.938940,26883.102656,41750.0
2,AR,49590.60,2977621.0,60.044061,25666.556534,40574.0
3,AZ,89709.56,6940873.0,77.370494,29270.505603,49063.0
4,CA,96922.44,39076841.0,403.176406,35049.472573,65231.0

In [5]:
print(demo_df.count())
print(len(demo_df['State'].unique()))

State                      51
Land Area (mi2)            51
Population                 51
Population Density         51
Per Capita Income          51
Median Household Income    51
dtype: int64
51

In [6]:
all_df = pd.merge(cases_df, demo_df, on='State', how='inner', validate='many_to_one')
all_df.head(50)

,Active,Confirmed,Date,Deaths,Fatality Rate,Recovered,State Name,State,Active Diff,Confirmed Diff,Deaths Diff,Recovered Diff,Lat,Lon,Land Area (mi2),Population,Population Density,Per Capita Income,Median Household Income
0,0,0,2020-03-10,0,0.0000,0,Alaska,AK,0,0,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
1,0,0,2020-03-11,0,0.0000,0,Alaska,AK,0,0,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
2,0,0,2020-03-12,0,0.0000,0,Alaska,AK,0,0,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
3,1,1,2020-03-13,0,0.0000,0,Alaska,AK,1,1,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
4,1,1,2020-03-15,0,0.0000,0,Alaska,AK,0,0,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
5,1,1,2020-03-16,0,0.0000,0,Alaska,AK,0,0,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
6,3,3,2020-03-17,0,0.0000,0,Alaska,AK,2,2,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
7,6,6,2020-03-18,0,0.0000,0,Alaska,AK,3,3,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
8,9,9,2020-03-19,0,0.0000,0,Alaska,AK,3,3,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
9,12,12,2020-03-20,0,0.0000,0,Alaska,AK,3,3,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
10,15,15,2020-03-21,0,0.0000,0,Alaska,AK,3,3,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
11,20,20,2020-03-22,0,0.0000,0,Alaska,AK,5,5,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
12,30,30,2020-03-23,0,0.0000,0,Alaska,AK,10,10,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
13,34,34,2020-03-24,0,0.0000,0,Alaska,AK,4,4,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
14,40,41,2020-03-25,1,0.0244,0,Alaska,AK,6,7,1,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
15,55,56,2020-03-26,1,0.0179,0,Alaska,AK,15,15,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
16,57,58,2020-03-27,1,0.0172,0,Alaska,AK,2,2,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
17,83,85,2020-03-28,2,0.0235,0,Alaska,AK,26,27,1,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
18,100,102,2020-03-29,2,0.0196,0,Alaska,AK,17,17,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
19,111,114,2020-03-30,3,0.0263,0,Alaska,AK,11,12,1,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
20,116,119,2020-03-31,3,0.0252,0,Alaska,AK,5,5,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
21,129,132,2020-04-01,3,0.0227,0,Alaska,AK,13,13,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
22,140,143,2020-04-02,3,0.0210,0,Alaska,AK,11,11,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
23,154,157,2020-04-03,3,0.0191,0,Alaska,AK,14,14,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
24,166,171,2020-04-04,5,0.0292,0,Alaska,AK,12,14,2,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
25,179,185,2020-04-05,6,0.0324,0,Alaska,AK,13,14,1,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
26,184,190,2020-04-06,6,0.0316,0,Alaska,AK,5,5,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
27,207,213,2020-04-07,6,0.0282,0,Alaska,AK,23,23,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
28,219,226,2020-04-08,7,0.0310,0,Alaska,AK,12,13,1,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
29,228,235,2020-04-09,7,0.0298,0,Alaska,AK,9,9,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
30,239,246,2020-04-10,7,0.0285,0,Alaska,AK,11,11,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
31,249,257,2020-04-11,8,0.0311,0,Alaska,AK,10,11,1,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
32,264,272,2020-04-12,8,0.0294,0,Alaska,AK,15,15,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
33,269,277,2020-04-13,8,0.0289,0,Alaska,AK,5,5,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
34,276,285,2020-04-14,9,0.0316,0,Alaska,AK,7,8,1,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
35,284,293,2020-04-15,9,0.0307,0,Alaska,AK,8,8,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
36,291,300,2020-04-16,9,0.0300,0,Alaska,AK,7,7,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
37,300,309,2020-04-17,9,0.0291,0,Alaska,AK,9,9,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
38,305,314,2020-04-18,9,0.0287,0,Alaska,AK,5,5,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
39,310,319,2020-04-19,9,0.0282,0,Alaska,AK,5,5,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
40,312,321,2020-04-20,9,0.0280,0,Alaska,AK,2,2,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
41,320,329,2020-04-21,9,0.0274,0,Alaska,AK,8,8,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
42,326,335,2020-04-22,9,0.0269,0,Alaska,AK,6,6,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
43,328,337,2020-04-23,9,0.0267,0,Alaska,AK,2,2,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
44,330,339,2020-04-24,9,0.0265,0,Alaska,AK,2,2,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
45,330,339,2020-04-25,9,0.0265,0,Alaska,AK,0,0,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
46,331,340,2020-04-26,9,0.0265,0,Alaska,AK,1,1,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
47,336,345,2020-04-27,9,0.0261,0,Alaska,AK,5,5,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
48,342,351,2020-04-28,9,0.0256,0,Alaska,AK,6,6,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0
49,346,355,2020-04-29,9,0.0254,0,Alaska,AK,4,4,0,0,61.3707,-152.4044,211300.81,734417.0,3.475694,35617.249121,51875.0

In [7]:
all_df.to_csv("Resources/AllByState-Daily.csv", index=False)