In [17]:
# Dependencies and Setup
#import matplotlib.pyplot as plt
import pandas as pd
#import numpy as np
#import requests
#import time
#from scipy.stats import linregress

import us

# Import API key
#from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
#from citipy import citipy

# pprint - useful for browsing api results
#from pprint import pprint

resource_path = "../../Resources/"
age_bins_path = f"{resource_path}Age Bins.csv"
census_path = f"{resource_path}census_data_output.csv"
land_area_path = f"{resource_path}State_County_MHI_Landarea.csv"

In [5]:
area_df = pd.read_csv(land_area_path)
area_df.head()

,Zip Code,State,County,Median Household Income,Land Area in Square Miles
0,601,PR,Adjuntas Municipio,NaN,NaN
1,602,PR,Aguada Municipio,NaN,30.61
2,603,PR,Aguadilla Municipio,NaN,31.61
3,606,PR,Maricao Municipio,NaN,42.31
4,610,PR,Aasco Municipio,NaN,35.92

In [48]:
area_df['Median Household Income'].unique()

#Eliminate records with no land area or income figures
clean_area_df = area_df[area_df['Land Area in Square Miles'].notnull()]
clean_area_df = clean_area_df[clean_area_df['Median Household Income'].notnull()]

#Missing county name is insignificant for statewide analysis;
#would need to deal with if drilling down into Oklahoma counties
#clean_area_df = clean_area_df[clean_area_df['County'].isnull()]

#Remove any records that reference a negative income; this could be attributed to zip codes with no residences
clean_area_df = clean_area_df[clean_area_df['Median Household Income'] > 0]

#Clean up column names; this will help with merging further below
clean_area_df.rename(columns={'Land Area in Square Miles' : 'Land Area (m2)'}, inplace=True)

#A useable data source without nulls will have same counts for all columns
#(Again, the missing county is insignificant to statewide aggregation)
clean_area_df.count()

Zip Code                   31859
State                      31859
County                     31858
Median Household Income    31859
Land Area (m2)             31859
dtype: int64

In [26]:
#If the result of this expression matches the total row count above,
#then the column values are all unique and zip code can be used to merge
print(len(clean_area_df['Zip Code'].unique()))

31859

In [20]:
census_df = pd.read_csv(census_path)
census_df.head()

,Population,Median Household Income,Per Capita Income,Zipcode,Population density
0,17242.0,13092.0,6999.0,601,0.000053
1,38442.0,16358.0,9277.0,602,0.000118
2,48814.0,16603.0,11307.0,603,0.000150
3,6437.0,12832.0,5943.0,606,0.000020
4,27073.0,19309.0,10220.0,610,0.000083

In [55]:
#Eliminate rows that are missing data for any measures (income, population, etc.)
clean_census_df = census_df[census_df['Median Household Income'].notnull()]
clean_census_df = clean_census_df[clean_census_df['Per Capita Income'].notnull()]

#Remove any records that reference a negative income; this could be attributed to zip codes with no residences
clean_census_df = clean_census_df[clean_census_df['Median Household Income'] > 0]
clean_census_df = clean_census_df[clean_census_df['Per Capita Income'] > 0]

clean_census_df['Total Income'] = clean_census_df['Per Capita Income'] * clean_census_df['Population']

#Clean up column names; this will help with merging further below
clean_census_df.rename(columns={'Zipcode' : 'Zip Code',
                                'Population density' : 'Population Density'}, inplace=True)

#With null measures eliminated, they should all return the same count
clean_census_df.count()

Population                 30888
Median Household Income    30888
Per Capita Income          30888
Zip Code                   30888
Population Density         30888
Total Income               30888
dtype: int64

In [56]:
#If the result of this expression matches the total row count above,
#then the column values are all unique and zipcode can be used to merge
print(len(clean_census_df['Zip Code'].unique()))

30888

In [57]:
merge_df = pd.merge(clean_area_df, clean_census_df, on='Zip Code', how='inner', suffixes=('_a', '_b'), validate='one_to_one')
#merge_df.count()

clean_merge_df = merge_df[merge_df['State'].notnull()]
clean_merge_df = clean_merge_df[clean_merge_df['Population'].notnull()]

clean_merge_df.count()

Zip Code                     30636
State                        30636
County                       30635
Median Household Income_a    30636
Land Area (m2)               30636
Population                   30636
Median Household Income_b    30636
Per Capita Income            30636
Population Density           30636
Total Income                 30636
dtype: int64

In [58]:
state_grp = clean_merge_df.groupby(['State'])
state_mhia = state_grp['Median Household Income_a'].median()
state_mhib = state_grp['Median Household Income_b'].median()
state_area = state_grp['Land Area (m2)'].sum()
state_pop = state_grp['Population'].sum()
state_pci = state_grp['Total Income'].sum() / state_pop
state_pd = state_pop / state_grp['Land Area (m2)'].sum()

state_df = pd.DataFrame(state_area)
state_df['Population'] = state_pop
state_df['Population Density'] = state_pd
state_df['Per Capita Income'] = state_pci
state_df['Median Household Income A'] = state_mhia
state_df['Median Household Income B'] = state_mhib

state_df

,Land Area (m2),Population,Population Density,Per Capita Income,Median Household Income A,Median Household Income B
State,,,,,,
AK,211300.81,734417.0,3.475694,35617.249121,49563.0,51875.0
AL,49481.34,4846150.0,97.938940,26883.102656,38704.0,41750.0
AR,49590.60,2977621.0,60.044061,25666.556534,36146.0,40574.0
AZ,89709.56,6940873.0,77.370494,29270.505603,42937.0,49063.0
CA,96922.44,39076841.0,403.176406,35049.472573,56946.0,65231.0
CO,97067.89,5514222.0,56.807890,36469.426840,51906.0,59610.5
CT,4829.57,3569498.0,739.092300,43172.210523,78037.0,86324.0
DC,59.58,677046.0,11363.645519,53842.673755,76948.0,88553.0
DE,1945.37,943604.0,485.051173,34155.262572,57292.0,61657.0
FL,43794.02,20568602.0,469.666909,30222.615661,45671.0,51245.5
GA,54620.06,10269257.0,188.012554,29577.560409,41071.5,45659.5
HI,5407.11,1413437.0,261.403411,34068.340484,60665.0,72647.0
IA,55885.35,3123899.0,55.898353,31152.231027,50805.0,57155.0
ID,57703.41,1681075.0,29.133027,26818.121497,42917.0,50498.0
IL,54896.87,12815484.0,233.446533,34465.476246,52289.0,58177.0
IN,35552.99,6617843.0,186.140266,28500.651492,48261.0,54187.0
KS,79915.16,2898597.0,36.270928,30820.627635,47500.0,52708.0
KY,38258.94,4415535.0,115.411849,27028.399130,37113.5,41392.0
LA,39519.98,4648805.0,117.631765,27057.073509,41599.0,44100.5
MA,7740.87,6813145.0,880.152360,41878.868832,71853.5,81742.5
MD,9529.87,5978351.0,627.327655,40641.712984,72571.5,80976.5
ME,24167.14,1327995.0,54.950441,31282.030884,45395.0,51875.0
MI,55526.86,9935027.0,178.922903,30369.333747,45611.5,52203.0
MN,77477.43,5523621.0,71.293291,36262.683567,51840.5,60000.0
MO,67799.50,6082527.0,89.713449,29545.077013,41816.0,47344.0
MS,45729.42,2962109.0,64.774690,23556.907406,33490.0,38418.0
MT,135639.85,1038180.0,7.653945,29784.234687,43368.0,49833.0
NC,46948.48,10131597.0,215.802450,29481.003490,42109.0,47125.0
ND,65945.35,742315.0,11.256518,35611.754060,52358.0,64310.0
NE,76243.49,1900182.0,24.922547,31121.371768,49375.0,55236.0
NH,9077.06,1343068.0,147.962887,38543.626543,63397.5,73318.0
NJ,7048.31,8876621.0,1259.397075,40906.775435,79628.5,88126.5
NM,85632.24,2027014.0,23.671155,26314.412198,37373.0,41144.0
NV,46110.80,2919544.0,63.315839,29960.530029,52538.0,58663.5
NY,46111.54,19558293.0,424.151807,37535.131022,55625.0,61714.0
OH,40745.71,11620433.0,285.194024,30340.067243,47500.0,54232.0
OK,67378.18,3912481.0,58.067478,27451.498363,41836.0,45842.5
OR,61000.36,4075095.0,66.804442,32066.325042,45185.0,52314.0
PA,44598.07,12745021.0,285.775169,32958.475415,48661.5,54836.5
RI,1024.57,1053151.0,1027.895605,34638.080080,66658.0,75143.0
SC,29922.97,4922493.0,164.505495,28111.101309,38942.0,42416.5
SD,74077.53,859766.0,11.606300,29856.742967,48043.0,56250.0
TN,40626.62,6630387.0,163.203018,28559.840997,38921.5,43979.0
TX,222934.45,27830255.0,124.836045,30167.175478,46188.0,52292.0
UT,35538.05,3039870.0,85.538458,28254.980671,53946.5,61445.5
VA,38772.87,8377699.0,216.071160,37858.893663,50341.0,56390.0
VT,9206.26,617996.0,67.127802,33532.269280,53446.0,58542.0
WA,58254.78,7279616.0,124.961694,36916.011596,52232.0,60273.5
WI,53619.25,5776045.0,107.723346,32027.559619,50830.0,56928.0
WV,22404.97,1796714.0,80.192654,25582.076070,37500.0,41738.0
WY,66007.27,574919.0,8.709935,32282.048678,53750.0,57037.0

In [7]:
age_df = pd.read_csv(age_bins_path)
age_df.head()

         Age Bracket Number of People  Percent of people
0      Under 5 years           19,929                6.2
1       5 to 9 years           20,243                6.3
2     10 to 14 years           20,812                6.4
3     15 to 19 years           20,908                6.5
4     20 to 24 years           21,434                6.6